<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>




    <div class="wrapper">

        <label for="username">Username:</label>
        <input class="field1" type="text" name="username" placeholder="Username">

        <label for="password">Password:</label>
        <input class="field2" type="password" name="password" placeholder="Password">




        <div>

            <input class="button" type="submit" value="Login">



            <% if (message) { %>
                <p>
                    <%= message %>
                </p>
                <% } %>

                    <p style="margin-bottom:-9px;">
                        <a href="#">Forgot Password? We don't care!</a>
                    </p>
                    <p>
                        Trouble logging in?
                        <a href="#">Repeat the WebDev bootcamp!</a>
                    </p>

                    <div class="line"></div>
                    <p style="margin-bottom:-9px;">Need a Ironbook Account?</p>
                    <p>
                        <a href="/auth/signup">Sign up here.</a>
                    </p>

        </div>

</body>

</html>