<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' /> 
  <!-- <link rel='stylesheet' href='/stylesheets/newstyle.css' /> -->
  <script src="https://use.fontawesome.com/48ce11ca1a.js"></script>
</head>

<body>

  <!-- Top bar     -->
  <div class="topbar">
    <div class="container">

      <nav role="navigation">
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <ul id="menu">
            <a href="/">
              <li>Home</li>
            </a>
            <a href="/explore">
              <li>IronBlog</li>
            </a>
            <a href="/explore/map">
              <li>Track a Hacker</li>
            </a>

            <% if (user) { %>
              <a href="/timeline">
                <li>My posts</li>
              </a>
              <a href="/profile/<%= user.id %>">
                <li>My profile</li>
              </a>
              <a href="/add/new">
                <li>New post</li>
              </a>
              <% } %>

          </ul>
        </div>
      </nav>

      <div>
        <a href="/">
          <img src="/images/ironbook-header-white.png" alt="ironbook" class="header-logo">
        </a>
      </div>

      <div class="loguser">

        <% if (user) { %>
          <p>
            <%=user.username%>
          </p>

          <form class="form-logout" action="/auth/logout" method="post">
            <button>logout</button>
          </form>
          <% } %>
      </div>
    </div>
  </div>

  <div class="realbody">
    <%- body %>
  </div>

  <div class="pointlessfooter">
    <div class="container">
      Copyright © 2017 Jordi & Constantinos
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#nav_list").click(function () {
        $(".nav-list").slideToggle();
      });
    });
  </script>

</body>

</html>