<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to Menu
    </p>


    <br>
    <div>
        <a href="/add/new">
            <input type="submit" value="Blog Post">
        </a>
        <br>
        <input type="submit" value="Photo">
        <br>
        <input type="submit" value="Route">
        <br>
        <input type="submit" value="Task">
        <br>

    </div>
    <br>
    <br>

    </a>


</body>

</html>


</body>

</html>