<div class="topbar"></div>





<div class="wrapper">
    <input autocorrect="off" class="field1" name="email" placeholder="Email address or phone number" type="text">/</input>
    <input autocorrect="off" class="field2" name="pass" placeholder="Password" type="password">/</input>

    <button class="button">Log in</button>
    <p style="margin-bottom:-9px;">
        <a href="#">Forgot Password?</a>
    </p>
    <p>
        Trouble logging in?
        <a href="#">Try the alternative login.</a>
    </p>
    <div class="line"></div>
    <p style="margin-bottom:-9px;">Need a Facebook Account?</p>
    <p>
        <a href="https://codepen.io">Sign up here.</a>
    </p>
</div>

<div class="pointlessfooter"></div>










<a href="/">
    <button name="button" class='button'>Home</button>
</a>

<a href="/menu">
    <button name="button" class='button'>Menu</button>
</a>

<a href="/timeline">
    <button name="button" class='button'>Timeline</button>
</a>

<a href="/explore">
    <button name="button" class='button'>Explore</button>
</a>

<a href="/explore/map">
    <button name="button" class='button'>Map</button>
</a>

<a href="/add">
    <button name="button" class='button'>Add</button>
</a>

<a href="/auth/signup">
    <button name="button" class='button'>SignUp</button>
</a>
<a href="/auth/login">
    <button name="button" class='button'>Login</button>
</a>

<form action="/auth/logout" method="post">
    <button>logout</button>
</form>