<div class="topbar"></div>





<div class="wrapper">
    <input autocorrect="off" class="field1" name="email" placeholder="Email address or phone number" type="text">/</input>
    <input autocorrect="off" class="field2" name="pass" placeholder="Password" type="password">/</input>

    <button class="button">Log in</button>
    <p style="margin-bottom:-9px;">
        <a href="#">Forgot Password?</a>
    </p>
    <p>
        Trouble logging in?
        <a href="#">Try the alternative login.</a>
    </p>
    <div class="line"></div>
    <p style="margin-bottom:-9px;">Need a Facebook Account?</p>
    <p>
        <a href="https://codepen.io">Sign up here.</a>
    </p>
</div>

<div class="pointlessfooter"></div>










<a href="/">
    <button name="button" class='button'>Home</button>
</a>

<a href="/menu">
    <button name="button" class='button'>Menu</button>
</a>

<a href="/timeline">
    <button name="button" class='button'>Timeline</button>
</a>

<a href="/explore">
    <button name="button" class='button'>Explore</button>
</a>

<a href="/explore/map">
    <button name="button" class='button'>Map</button>
</a>

<a href="/add">
    <button name="button" class='button'>Add</button>
</a>

<a href="/auth/signup">
    <button name="button" class='button'>SignUp</button>
</a>
<a href="/auth/login">
    <button name="button" class='button'>Login</button>
</a>

<form action="/auth/logout" method="post">
    <button>logout</button>
</form>











<!-- 
------------------ -->

<!-- 
 Tutorial : http://www.9lessons.info/2012/01/facebook-timeline-design-using-jquery.html
-->
<div id="timeline">
    <div class="timeline_container">
        <div class="timeline">
            <div class="plus"></div>
        </div>
    </div>

    <!-- item -->
    <div class="item ">
        <div class="cont_pic" style="background-image: url(http://lorempixel.com/460/200/sports/1/);height:150px">
            <div class="like_pic">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
        <!-- #cont_pic -->
        <div class="info">
            <div class="up_cont">
                <h3>Loremipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla aliquam pharetra. Duis blandit,
                    vel ultricies.</p>
            </div>
            <!-- #up_cont -->
            <div class="down_cont">
                <div class="left_icons">
                    <span class="comment fa fa-comment"> 22</span>
                    <span class="view fa fa-eye"> 132</span>
                    <span class="like fa fa-heart"> 45</span>
                </div>
                <!-- #left_icons -->
                <time class="timeago">10 days ago</time>
            </div>
            <!-- #down_cont -->
        </div>
        <!-- #info -->
    </div>
    <!-- #item -->

    <!-- item -->
    <div class="item ">
        <div class="cont_pic" style="background-image: url(http://lorempixel.com/460/240/sports/2/);height:150px">
            <div class="like_pic">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
        <!-- #cont_pic -->
        <div class="info">
            <div class="up_cont">
                <h3>Loremipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla
                    aliquam pharetra. Duis blandit, lectus non tempus eleifend, nunc elit euismod turpis, vel ultricies.</p>
            </div>
            <!-- #up_cont -->
            <div class="down_cont">
                <div class="left_icons">
                    <span class="comment fa fa-comment"> 22</span>
                    <span class="view fa fa-eye"> 132</span>
                    <span class="like fa fa-heart"> 45</span>
                </div>
                <!-- #left_icons -->
                <time class="timeago">10 days ago</time>
            </div>
            <!-- #down_cont -->
        </div>
        <!-- #info -->
    </div>
    <!-- #item -->

    <!-- item -->
    <div class="item ">
        <div class="cont_pic" style="background-image: url(http://lorempixel.com/460/240/sports/3/);height:150px">
            <div class="like_pic">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
        <!-- #cont_pic -->
        <div class="info">
            <div class="up_cont">
                <h3>Loremipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla
                    aliquam pharetra. Duis blandit, lectus non tempus eleifend, nunc elit euismod turpis, vel ultricies.</p>
            </div>
            <!-- #up_cont -->
            <div class="down_cont">
                <div class="left_icons">
                    <span class="comment fa fa-comment"> 22</span>
                    <span class="view fa fa-eye"> 132</span>
                    <span class="like fa fa-heart"> 45</span>
                </div>
                <!-- #left_icons -->
                <time class="timeago">10 days ago</time>
            </div>
            <!-- #down_cont -->
        </div>
        <!-- #info -->
    </div>
    <!-- #item -->

    <!-- item -->
    <div class="item ">
        <div class="cont_pic" style="background-image: url(http://lorempixel.com/460/240/sports/4/);height:150px">
            <div class="like_pic">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
        <!-- #cont_pic -->
        <div class="info">
            <div class="up_cont">
                <h3>Loremipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla
                    aliquam pharetra. Duis blandit, lectus non tempus eleifend, nunc elit euismod turpis, vel ultricies.</p>
            </div>
            <!-- #up_cont -->
            <div class="down_cont">
                <div class="left_icons">
                    <span class="comment fa fa-comment"> 22</span>
                    <span class="view fa fa-eye"> 132</span>
                    <span class="like fa fa-heart"> 45</span>
                </div>
                <!-- #left_icons -->
                <time class="timeago">10 days ago</time>
            </div>
            <!-- #down_cont -->
        </div>
        <!-- #info -->
    </div>
    <!-- #item -->
</div>
<!-- time line contenir -->










<!-- 
Card -->


<div class="card">
    <div class="card__header">
        <div class="card__image">
            <img src="http://vignette4.wikia.nocookie.net/tomandjerry/images/9/93/Jerry_Mouse_Jr._Clipart.png/revision/latest?cb=20141214221938"
                alt="profile pic" />
        </div>
        <div class="card__name-time">
            <h4 class="card__name">Meghna Srivastava</h4>
            <div class="card__time">
                12:55
            </div>
        </div>
    </div>
    <div class="card__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id purus eget diam euismod eleifend a vitae leo. Suspendisse
        vel dui vitae magna maximus pretium quis quis eros. Phasellus eleifend ex lectus, ac pharetra lorem venenatis vitae.
        Phasellus nec arcu odio. Fusce vehicula tristique lacus, in rhoncus tortor tincidunt quis. Nam molestie fringilla
        est ut porta. Curabitur suscipit enim id iaculis dapibus. Praesent dignissim commodo diam non commodo. Vestibulum
        ut fringilla quam. Nulla facilisi. Ut ut nibh vel nisi hendrerit sodales. Nam venenatis mollis massa, et elementum
        metus porta a. Aliquam id sem arcu. In mattis vestibulum facilisis. Sed placerat dolor quis fringilla eleifend. Vestibulum
        aliquet eget odio at commodo. Proin fringilla ullamcorper vestibulum. Sed sed mollis magna. Proin erat neque, bibendum
        eu ante at, malesuada porttitor libero. In consectetur consequat odio in fringilla.
    </div>
</div>