<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <div id="container">
    <div id="header">
      <h1>
        <%= title %>
      </h1>
      <p>Welcome to
        <%= title %>
      </p>
    </div>
    <div id="main">
      <img src="https://assets.materialup.com/uploads/61295544-9f9e-4dd3-b4ba-7cb3060c8390/preview" alt="passport">

    </div>
    <div id="footer">
      <a href="/auth/login">
        <button name="button" class='button'>Login</button>
      </a>
      <br>
      <a href="/auth/signup">
        <button name="button" class='button'>SignUp</button>
      </a>
      <br>
      <a href="/explore">
        <button name="button" class='button'>Explores</button>
      </a>
    </div>
  </div>

</body>

</html>