<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>

  <img src="http://passportinfoguide.com/wp-content/uploads/2013/11/passport.jpg" alt="passport">
  <br>

  <a href="/auth/signup">
    <button name="button" class='button'>SignUp</button>
  </a>
  <a href="/posts">
    <button name="button" class='button'>Posts</button>
  </a>
  <a href="/auth/login">
    <button name="button" class='button'>Login</button>
  </a>
  <form action="/auth/logout" method="post">
    <button name="button" class='button'>Logout</button>
  </form>


</body>

</html>


</body>

</html>