<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>

  <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDvM3R_A9_W32EdH7pqK-CgCg9fSLcLoXi5EbV_D0CxtrJpXYn" alt="passport">
  <br>

  <a href="/auth/login">
    <button name="button" class='button'>Login</button>
  </a>
  <br>
  <a href="/auth/signup">
    <button name="button" class='button'>SignUp</button>
  </a>
  <br>
  <a href="/">
    <button name="button" class='button'>Explore</button>
  </a>
  <br>





</body>

</html>


</body>

</html>