<body>

  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div id="container">
    
   <div>
      <img src="/images/header logo blue.png" alt="ironbook logo blue" class='home-logo'>
    </div>

    <div id="home-menu">
      <a href="/auth/login">
        <button name="button" class='button'>Login</button>
      </a>
     
      <a class="intro-buttons" href="/auth/signup">
        <button name="button" class='button-index'>SignUp</button>
      </a>
     
      <a class="intro-buttons" a href="/explore">
        <button name="button" class='button-index'>Explore</button>
      </a>
    </div>

  </div>

</body>

</html>