<body>
  <div id="container-index">
    <div id="header-index">
      
    </div>
    <div id="main-index">
      <img class="main-logo" src="https://assets.materialup.com/uploads/61295544-9f9e-4dd3-b4ba-7cb3060c8390/preview" alt="passport">

    </div>
    <div id="footer-index">
      <a class="intro-buttons" href="/auth/login">
        <button name="button" class='button-index'>Login</button>
      </a>
     
      <a class="intro-buttons" href="/auth/signup">
        <button name="button" class='button-index'>SignUp</button>
      </a>
     
      <a class="intro-buttons" a href="/explore">
        <button name="button" class='button-index'>Explore</button>
      </a>
    </div>
  </div>

</body>

</html>