
<h1><%= title %></h1>

<p>Welcome to Menu</p>



<div>
    <a href="/explore">
        <input type="submit" value="Explore">
    </a>
    
    <a href="/add">
        <input type="submit" value="Add">
    </a>
    
    <input type="submit" value="Groups">
    
    <a href="/timeline">
        <input type="submit" value="My Journal">
    </a>
    
    <a href="/profile/<%= user.id %>">
        <input type="submit" value="My Profile">
    </a>
    
</div>


