<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to Menu
    </p>


    <br>
    <div>
        <a href="/explore">
            <input type="submit" value="Explore">
        </a>
        <br>
        <a href="/add">
            <input type="submit" value="Add">
        </a>
        <br>
        <input type="submit" value="Groups">
        <br>
        <a href="/timeline">
            <input type="submit" value="My Journal">
        </a>
        <br>
        <input type="submit" value="My Profile">
        <br>
    </div>
    <br>
    <br>



</body>

</html>


</body>

</html>