#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#header{
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 30%;
}

#main{
    background-color: rgb(64, 158, 32);
    width: 100%;
    height: 40%;
}

#footer{
    background-color: rgb(33, 36, 196);
    width: 100%;
    height: 30%;
}