body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.postContent{
  /* max-width: 30%;
  min-width: 30%;
  resize:horizontal; */
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

 #map {
        height: 400px;
        width: 100%;
       }

.photo {
 height: auto
 width: 100%;
 }