
<p>Welcome to Global Map
</p>

<div>
    Hello
    <%= user.username%> what's on your mind?
</div>



<div id="container">
    <div id="map"></div>
</div>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbnybcbBy1raUOu9YsNd5QqNz0WBP_M-k"></script>
<script type="text/javascript" src="../javascripts/mapGlobal.js"></script>
