<!DOCTYPE html>
<html>

<head>
    <title>Global Map
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <p>Welcome to Global Map
    </p>
    <br>
    <div>
        Hello
        <%= user.username%> what's on your mind?
    </div>
    <br>
    <br>

    <div id="container">
        <div id="map"></div>
    </div>
    <br>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbnybcbBy1raUOu9YsNd5QqNz0WBP_M-k"></script>
    <script type="text/javascript" src="../javascripts/mapGlobal.js"></script>


</body>

</html>