
<h1>
    <%= title %>
</h1>
<p>Welcome to Menu
</p>



<div>
    <a href="/add/new">
        <input type="submit" value="Blog Post">
    </a>
    
    <input type="submit" value="Photo">
    
    <input type="submit" value="Route">
    
    <input type="submit" value="Task">
    

</div>


