<div class="container">

    <p>Welcome to edit Product</p>
    
    <form action="/add/new/<%= post.id%>" method="POST" id="edit-post" enctype="multipart/form-data">
    
        <div class="field">
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" maxlength="140" value=<%=post.title%>>
        </div>
        
        <div class="field">
            <label for="postContent">Content</label>
            <textarea rows="4" cols="50" name="postContent" maxlength="600" class="postContent"><%=post.content%>
            </textarea>
        </div>
        
        <div class="field">
            <label for="cover-photo">Cover photo:</label>
            <input id="file" type="file" name="photo" capture="camera" accept=" image/* ">
        </div>
        
        <div class="field">
            <button class="button">Update</button>
            <% if (typeof(errorMessage) != "undefined") { %>
            <p class="error-message">
                <%= errorMessage %>
            </p>
            <% } %>
        </div>
        
    </form>

</div>
