<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>Welcome to Add blogpost
    </p>


    <br>
    <div>
        Hello add your stuff
    </div>
    <br>
    <br>



</body>

</html>


</body>

</html>

















<!-- <div id="container">
    <h2>Hi @
        <%= username %>!</h2>

    <form action="/posts" method="POST" id="new-post">
        <label for="postText">Post</label>
        <input type="text" name="postText" maxlength="140" placeholder="What's going on?">
        <button class="button blue fright">Post!</button>
    </form>

    <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message">
            <%= errorMessage %>
        </div>
        <% } %>
</div> -->