<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <h1>
    </h1>
    <p>Welcome to Add blogpost
    </p>


    <br>
    <div>
        Hello
        <%= user.username%> what's on your mind?
    </div>
    <br>
    <br>





    <div id="container">


        <form action="/add/new" method="POST" id="new-post" enctype="multipart/form-data">
            <label for="postTitle">Title</label>
            <br>
            <input type="text" name="postTitle" maxlength="140" placeholder="Read this!!!">
            <br>
            <label for="postContent">Content</label>
            <br>
            <textarea rows="4" cols="50" name="postContent" placeholder="What's going on?"></textarea>
            <br>
            <label for="cover-photo">Cover photo:</label>
            <input id="file" type="file" name="photo" capture="camera" accept=" image/* ">
            <br>
            <input type="text" id="lat" name="latitude" readonly="yes" value="">
            <br>
            <input type="text" id="lng" name="longitude" readonly="yes" value="">
            <br>
            <button class="button">Post!</button>
        </form>
        <br>



        <div id="map"></div>
        <% if (typeof(errorMessage) != "undefined") { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
            <% } %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbnybcbBy1raUOu9YsNd5QqNz0WBP_M-k">
    </script>
    <script type="text/javascript" src="../javascripts/maps.js"></script>


</body>

</html>