<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>Welcome to Add blogpost
    </p>


    <br>
    <div>
        Hello
        <%= user.username%> what's on your mind?
    </div>
    <br>
    <br>

    <div id="container">

        <form action="/add/new" method="POST" id="new-post" enctype="multipart/form-data">
            <label for="postTitle">Title</label>
            <br>
            <input type="text" name="postTitle" maxlength="140" placeholder="Read this!!!">
            <br>
            <label for="postContent">Content</label>
            <br>
            <textarea rows="4" cols="50" name="postContent" placeholder="What's going on?"></textarea>
            <br>
            <label for="cover-photo">Cover photo:</label>
            <input id="file" type="file" name="photo" capture="camera" accept=" image/* ">
            <br>
            <button class="button">Post!</button>
        </form>

        <% if (typeof(errorMessage) != "undefined") { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
            <% } %>
    </div>


</body>

</html>


</body>

</html>