<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>Welcome to Show Product
    </p>


    <br>
    <div>
        Hello
        <%= user.username%> what's on your mind?
    </div>
    <br>
    <br>

    <div id="container">
        <%= post.title%></br><%= post.contente%>
       
    </div>


</body>

</html>
